@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.form {
  width: 100%;
  min-height: 100vh;
  background: #34e7b8;
  background: linear-gradient(49deg, #34e7b8 0%, #097974 100%);
  padding: 2rem 1rem;
}

.form form {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
  padding: 3rem;
  background-color: #fff;
  border-radius: 12px;
  max-width: 400px;
}

.form form .form-text {
  display: block;
  margin-top: 0.25rem;
}

.form form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
  width: 100%;
}

.form form .form-group label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.form form .form-group input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form form .form-group #emailHelp {
  color: #6c757d !important;
}

.form form button {
  width: 100%;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  margin: 15px 0;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form form button:hover {
  background-color: #17a2b8;
}

.sidebar {
  width: 35%;
  max-width: 350px;
  background: #363e47;
  min-height: 100vh;
  padding: 1rem 0;
}

.sidebar .userInfo h1 {
  text-align: left;
  color: #f5f5f5;
  padding-left: 1rem;
  font-size: 28px;
}

.sidebar .form-warpper {
  position: relative;
  padding: 0 1rem;
  border-bottom: 1px solid #303841;
}

.sidebar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  max-width: 400px;
}

.sidebar form .form-text {
  display: block;
  margin-top: 0.25rem;
}

.sidebar form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
  width: 100%;
}

.sidebar form .form-group input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  outline: none;
  line-height: 1.5;
  color: #65707b;
  background-color: #303841;
  background-clip: padding-box;
  border: none;
  border-radius: 30px;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.sidebar form .form-group ::-webkit-input-placeholder {
  color: #65707b;
}

.sidebar form .form-group :-ms-input-placeholder {
  color: #65707b;
}

.sidebar form .form-group ::-ms-input-placeholder {
  color: #65707b;
}

.sidebar form .form-group ::placeholder {
  color: #65707b;
}

.sidebar form #emailHelp {
  color: #6c757d !important;
}

.sidebar form button {
  outline: none;
  margin-left: 10px;
  cursor: pointer;
  color: #65707b;
  background-color: #303841;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  border: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 30px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.sidebar form button:hover {
  background-color: #101010;
}

.sidebar .resualt {
  position: absolute;
  top: 54px;
  background: red;
}

.sidebar .resualt li {
  padding: 0.4rem 2.35rem;
  cursor: pointer;
}

.chatSection {
  width: -webkit-fill-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #f2f7f7;
}

.chatSection .chat {
  width: 100%;
  height: 100%;
  padding: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chatSection .chat ul {
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chatSection .chat ul small {
  color: #99a8b4;
}

.chatSection .chat ul .msgStyle-1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 15px 10px auto;
  text-align: center;
}

.chatSection .chat ul .msgStyle-1 p.msg {
  background-color: #54d38a;
  color: #ffffff;
  padding: 9px 21px;
  border-radius: 4px;
}

.chatSection .chat ul .msgStyle-2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto 10px 15px;
  text-align: center;
}

.chatSection .chat ul .msgStyle-2 p.msg {
  background-color: #ffffff;
  color: #99a8b4;
  padding: 9px 21px;
  border-radius: 4px;
}

.chatSection .chat .welcomeMsg {
  text-align: center;
  margin: 100px 0;
}

.chatSection .chatForm {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

.chatSection .chatForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 3rem;
  width: 100%;
}

.chatSection .chatForm form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.chatSection .chatForm form .form-group input {
  width: 90%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  outline: none;
  line-height: 1.5;
  color: #212121;
  background-color: #21212100;
  background-clip: padding-box;
  border: none;
  border-radius: 30px;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.chatSection .chatForm form .form-group ::-webkit-input-placeholder {
  color: #d0d6db;
}

.chatSection .chatForm form .form-group :-ms-input-placeholder {
  color: #d0d6db;
}

.chatSection .chatForm form .form-group ::-ms-input-placeholder {
  color: #d0d6db;
}

.chatSection .chatForm form .form-group ::placeholder {
  color: #d0d6db;
}

.chatSection .chatForm form button {
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #81c784;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  border: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 30px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chatHistory ul {
  padding-top: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatHistory ul h4 {
  color: #f7f7f8;
  text-align: center;
}

.chatHistory ul li {
  padding: 0.6rem 1rem;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

.chatHistory ul li h4 {
  color: #f7f7f8;
  text-align: left;
  color: #f5f5f5;
  padding: 5px 0;
}

.chatHistory ul li p {
  color: #67727c;
  padding: 5px 0;
}

.chatHistory ul li:hover {
  background-color: #404953;
}

.navBar {
  background-color: #303841;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navBar ul a {
  display: block;
  padding: 1rem;
  font-size: 28px;
  color: #a5b5c1;
  text-align: center;
  border-left: 4px solid #303841;
  -webkit-transition: border-left-color 400ms ease-in-out, color 400ms ease-in-out, background-color 300ms ease-in-out;
  transition: border-left-color 400ms ease-in-out, color 400ms ease-in-out, background-color 300ms ease-in-out;
}

.navBar ul a:hover,
.navBar ul a.active {
  border-left-color: #55d48b;
  color: #f7f7f8;
  background-color: #363e47;
}

.receiver-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #444e59;
  border-bottom: 1px solid #e3e7e7;
}

.receiver-info .add-btn {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border-radius: 50%;
  width: 40px;
  background: #4caf50;
  background: linear-gradient(49deg, #4caf50 0%, #097947 100%);
  -webkit-transition: background 2s ease-in-out;
  transition: background 2s ease-in-out;
  cursor: pointer;
}

.receiver-info .add-btn:hover {
  background: #60e266;
  background: linear-gradient(49deg, #60e266 0%, #0cbf6f 100%);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background-color: #101010;
  border-radius: 30px;
}
/*# sourceMappingURL=main.css.map */